<div class="logo">
  <a href="https://www.creative-tim.com" class="simple-text logo-mini">
    <div class="logo-img" style="text-align: center;">
      <!-- <img src="../../../assets/img/fivep_logo_white_labs_hor.png" /> -->
    </div>
  </a>
  <a href="#" class="simple-text logo-normal">
    <img
      src="../../../../assets/img/fivep_logo_white_labs_hor.png"
      style="width: 70%"
    />
  </a>
</div>
<div class="sidebar-wrapper">
  <ul class="nav">
    <li
      routerLinkActive="active"
      *ngFor="let menuItem of menuItems"
      class="{{ menuItem.class }} nav-item"
    >
      <a [routerLink]="[menuItem.path]">
        <i class="now-ui-icons {{ menuItem.icon }}"></i>
        <p>{{ menuItem.title }}</p>
      </a>
    </li>
  </ul>
</div>
