<div class="panel-header panel-header-sm"></div>
<div class="main-content">
  <div class="row">
    <div class="col-10">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Nouveau mot de passe</h5>
        </div>
        <div class="card-body">
          <form>
            <div class="row">
              <div class="col-2"></div>
              <div class="col-8">
                <input
                  type="password"
                  class="form-control"
                  placeholder="Password"
                  [formControl]="password"
                />
              </div>
            </div>

            <button mat-raised-button (click)="updatePass()">Créer</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
