<div class="panel-header panel-header-lg" style="height: 0px;"></div>
<div class="main-content">
  <div class="row">
    <div class="col-lg">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">
            <h1 style="text-align: center;">Bienvenue sur EvalCand</h1>
          </h5>
          <h4 class="card-title">
            <p style="text-align: center;">
              EvalCand est une platforme d'evaluation en ligne distiné aux
              candidats de FivePoints
            </p>
          </h4>
        </div>
        <div class="row">
          <div class="col-4"></div>
          <div class="col-6">
            <button
              mdbBtn
              color="default"
              rounded="true"
              data-toggle="modal"
              data-target="#basicExample"
              mdbWavesEffect
              routerLink="/ajouter-Eval"
            >
              Créer evaluation
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="evaluations">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h2 class="card-title">Evaluation</h2>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-3 text-primary">Titre</div>
            <div class="col-3 text-primary">Etat d'Evaluation</div>
            <div class="col-2 text-primary">Niveau</div>
            <div class="col-3 text-primary"></div>
          </div>
          <div
            class="row"
            *ngFor="let evaluation of evaluations; let index = index"
          >
            <div class="col-3 text-primary">{{ evaluation.titre }}</div>
            <div class="col-3 text-primary">{{ evaluation.etat }}</div>
            <div class="col-2 text-primary"></div>
            <div class="col-3 text-primary">
              <!-- <button
                type="button"
                mdbBtn
                color="default"
                rounded="true"
                data-toggle="modal"
                data-target="#basicExample"
                mdbWavesEffect
                (click)="DuplicateEval(evaluation)"
              >
                Duplicate
              </button> -->
              <i (click)="DuplicateEval(evaluation)" class="material-icons">
                repeat
              </i>
              <!-- <button
                type="button"
                mdbBtn
                color="default"
                rounded="true"
                data-toggle="modal"
                data-target="#basicExample"
                (click)="frame.show()"
                mdbWavesEffect
              >
                add
              </button> -->
              <i (click)="frame.show()" class="material-icons">
                add_box
              </i>
              <!-- <button
                type="button"
                mdbBtn
                color="default"
                rounded="true"
                data-toggle="modal"
                data-target="#basicExample"
                (click)="deleteEvaluation(evaluation.id_evaluation)"
                mdbWavesEffect
              >
                Delete
              </button> -->
              <i
                (click)="deleteEvaluation(evaluation.id_evaluation)"
                class="material-icons"
              >
              