<!-- <div class="wrapper">
  <div class="sidebar" data-color="blue">
    <app-sidebar></app-sidebar>
  </div>
  <div class="main-panel">
    <app-navbar></app-navbar> -->
<div class="panel-header panel-header-lg" style="height: 0px;"></div>
<div class="main-content">
  <div class="row">
    <div class="col-lg">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">
            <h1 style="text-align: center;">Bienvenue sur EvalCand</h1>
          </h5>
          <h4 class="card-title">
            <p style="text-align: center;">
              EvalCand est une platforme d'evaluation en ligne distiné aux
              candidats de FivePoints
            </p>
          </h4>
          <div ngbDropdown>
            <div ngbDropdownMenu class="dropdown-menu-right"></div>
          </div>
        </div>
        <div class="card-footer">
          <button
            mdbBtn
            type="button"
            gradient="blue"
            rounded="true"
            mdbWavesEffect
          >
            Blue
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">lorem</h5>
          <h4 class="card-title">lorem eval 1</h4>
          <div ngbDropdown>
            <button
              type="button"
              class="btn btn-round btn-default dropdown-toggle btn-simple btn-icon no-caret"
              ngbDropdownToggle
            >
              <i class="now-ui-icons loader_gear"></i>
            </button>
            <div ngbDropdownMenu class="dropdown-menu-right"></div>
          </div>
        </div>
        <div class="card-body">
          <div class="chart-area">
            <p>text</p>
          </div>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="now-ui-icons arrows-1_refresh-69"></i> lorem Updated
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <app-footer></app-footer>
  </div>
</div> -->
